#root {
    width: 100vw;
}

.mobileBar{
    margin-bottom: 2vh;
}

main img{    
    width: 100% !important;
    height: auto;
}

.App {
    max-width: 100%
}

.drawerClose {
    float: right;
    animation-fill-mode: forwards;
    width: 34vw !important;
    margin-left: 33vw;
}