#root {
  width: 100vw;
}

.mobileBar {
  margin-bottom: 2vh;
}

main img {
  width: 100% !important;
  height: auto;
}

.App {
  max-width: 100%;
}

.navHead {
  text-transform: capitalize;
}

.logoName {
  margin-right: 25vw;
}
