.App {
  height: max-content;
}

.wrapper {
  /*max-height: 100vh;*/
  overflow: hidden;
}

.header {
  margin-bottom: 1vh !important;
  z-index: 1;
}

.nav,
.contentWrapper {
  padding-top: 0px !important;
}

.nav {
  text-align: left;
}

.contentWrapper {
  padding-left: 2vw !important;
}

.content {
  max-height: 90vh;
  overflow: auto;
  padding-left: 2vw;
}
