.App {
  height: max-content;
  
}

.wrapper {
  /*max-height: 100vh;*/
  overflow: hidden;
  padding-bottom: 1vh !important;
}

.header {
  margin-bottom: 1vh !important;
  z-index: 1;
}

/* .nav,
.contentWrapper {
  padding-top: 10px !important;
} */

.nav {
  text-align: left;
}

.contentWrapper {
  margin-right: 5px !important;
  
  max-height: 85vh;
}

.content {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  max-height: 74vh;
  overflow: auto;
}

.testWrap{
  width: 100%;
}

