.subNav li {
  padding-top: 0 !important;
}

.DeskNav a span {
  padding-left: 0vw;
}

.DeskNav a,
.DeskNav a:hover,
.DeskNav a:active,
.DeskNav a:visited,
.DeskNav a:focus,
.DeskNav a:link {
  color: rgb(1, 23, 64);
  text-decoration: none;
}