.MobNav nav {
  height: 92vh;
}

.MobNav a,
.MobNav a:hover,
.MobNav a:active,
.MobNav a:visited,
.MobNav a:focus,
.MobNav a:link {
  color: rgb(1, 23, 64);
  text-decoration: none;
}

.MobNav .subNav li {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.MobNav a span {
  padding-left: 5vw;
}

.MobNav .changelog {
  width: auto;
  font-size: 8pt;
  color: #333333;
  position: relative;
  bottom: -20vh;
  float: right;
  padding: 0;
  margin-right: 2vw;
}

.MobNav a:hover {
  color: #00a0e9;
}
